a{
    text-decoration: none;
}

#title{
    text-align: center;
}

#form{
    width: 40%;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    padding: 10px;
}


.input{
    display: block;
    margin: 5px auto;
}

.warning{
    margin: auto;
    text-align: center;
    color: red;
    display: none;
}

#submit{
    display: block;
    margin: auto;
}