{% extends "homepage.html" %}
{% block content %}
    <div class="container my-container">
        <div class="row my-row">
          <div class="col-1 my-col">
            <div class="col my-col firstCol">
                1
            </div>
            <div class="col my-col firstCol">
                2
            </div>
            <div class="col my-col firstCol">
                3
            </div>
          </div>


          <div class="col-1 my-col">
            <div class="col my-col secondCol">
                1
            </div>
            <div class="col my-col secondCol">
                2
            </div>
            <div class="col my-col secondCol">
                3
            </div>
            <div class="col my-col secondCol">
                4
            </div>
            <div class="col my-col secondCol">
                5
            </div>
            <div class="col my-col secondCol">
                6
            </div>
            <div class="col my-col secondCol">
                7
            </div>
            <div class="col my-col secondCol">
                8
            </div>
          </div>

          <div class="col-8 my-col">
            3
          </div>

          <div class="col-2 my-col">
            <div class="col my-col forthCol">
                1
            </div>
            <div class="col my-col forthCol list">
                2
            </div>
          </div>
        </div>















    </div>
{% endblock %}