{% extends "homepage.html" %}
{% block content %}

<div class="jumbotron" style="text-align: center">
    <h1>Welcome to sign up page!</h1>
    <p>Please fill out the form</p>

    <form>
        <label for="first">First name: </label>
        <input type="text" name="first">
        <label for="last">Last name: </label>
        <input type="text" name="last">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password">
        <br>
        <label for="Cpassword">Confirm Password: </label>
        <input type="password" name="Cpassword">
        <br>
        <input type="submit" value="Submit_Form">
    </form>
</div>

{% endblock %}